body {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.corazon {
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;
	align-self: center;
	justify-self: center;
	transform: rotate(45deg);
	animation: lupdub 2s infinite;
}

.corazon::before,
.corazon::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: red;
	border-radius: 100%;
}

.corazon::before {
	top: -50px;
}

.corazon::after {
	left: -50px;
}

@keyframes lupdub {
	0% {
		transform: scale(1) rotate(45deg);
	}

	50% {
		transform: scale(1.5) rotate(45deg);
	}
}

@keyframes do_a_barrel_roll {
	0% {
		transform: rotate(calc(45deg));
	}

	50% {
		transform: rotate(calc(45deg + 180deg));
	}
}
