.caja {
    width: 90vw;
    background-color: #E0B0FF;
    margin-left: 5vw;
    display: flex;
    margin-bottom: 80px ;
    border: 1px solid black;
    padding: 10px;
}

.item {
    width: 140px;
    height: 70px;
    background-color: #FFF0C9;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

:nth-child(2 of .caja) {
    flex-direction: row-reverse;
}

:nth-child(5 of .caja) {
    flex-direction: column;
}

